{% extends 'nutritional_tag/detail/_nutritional_tag_detail_base.html' %}
{% load component_tags %}
{% block nutritionaltagdetailcontent %}
    <section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-8">
        <div class="mx-auto max-w-screen-lg px-4 2xl:px-0">
            <h2 class="text-2xl font-bold mb-1">Aktionen</h2>
            <p class="text-gray-500 dark:text-gray-400 mb-4">Hier kannst du Aktionen für diesen Ernährungstag durchführen</p>
            <div id="default-tab-content">
                <div id="overview" role="tabpanel" aria-labelledby="overview-tab">
                    <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-4">
                        {% component 'action-box' description='Daten dieses Tags ändern' text='Tag ändern' link="{% url 'nutritional-tag-update' nutritional_tag.id %}" color='blue' icon='edit' %}
                    {% endcomponent %}
                    {% component 'action-box' description='Diesen Tag löschen' text='Tag löschen' link="{% url 'nutritional-tag-delete' nutritional_tag.id %}" color='red' icon='trash' %}
                    {% endcomponent %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
