<div
  class="hidden overflow-hidden z-50 my-4 max-w-sm text-base list-none bg-white rounded divide-y divide-gray-100 shadow-lg dark:divide-gray-600 dark:bg-gray-700"
  id="notification-dropdown"
>
  <div
    class="block py-2 px-4 text-base font-medium text-center text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
  >
    Notifications
  </div>
  <div>
    <a
      href="#"
      class="flex py-3 px-4 border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:border-gray-600"
    >
      <div class="flex-shrink-0">
        <img
          class="w-11 h-11 rounded-full"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
          alt="Bonnie Green avatar"
        />
      </div>
      <div class="pl-3 w-full">
        <div
          class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400"
        >
          New message from
          <span class="font-semibold text-gray-900 dark:text-white"
            >Bonnie Green</span
          >: "Hey, what's up? All set for the presentation?"
        </div>
        <div class="text-xs font-medium text-primary-700 dark:text-primary-400">
          a few moments ago
        </div>
      </div>
    </a>
    <a
      href="#"
      class="flex py-3 px-4 border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:border-gray-600"
    >
      <div class="flex-shrink-0">
        <img
          class="w-11 h-11 rounded-full"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png"
          alt="Jese Leos avatar"
        />
      </div>
      <div class="pl-3 w-full">
        <div
          class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400"
        >
          <span class="font-semibold text-gray-900 dark:text-white"
            >Jese leos</span
          >
          and
          <span class="font-medium text-gray-900 dark:text-white"
            >5 others</span
          >
          started following you.
        </div>
        <div class="text-xs font-medium text-primary-700 dark:text-primary-400">
          10 minutes ago
        </div>
      </div>
    </a>
    <a
      href="#"
      class="flex py-3 px-4 border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:border-gray-600"
    >
      <div class="flex-shrink-0">
        <img
          class="w-11 h-11 rounded-full"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png"
          alt="Joseph McFall avatar"
        />
      </div>
      <div class="pl-3 w-full">
        <div
          class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400"
        >
          <span class="font-semibold text-gray-900 dark:text-white"
            >Joseph Mcfall</span
          >
          and
          <span class="font-medium text-gray-900 dark:text-white"
            >141 others</span
          >
          love your story. See it and view more stories.
        </div>
        <div class="text-xs font-medium text-primary-700 dark:text-primary-400">
          44 minutes ago
        </div>
      </div>
    </a>
    <a
      href="#"
      class="flex py-3 px-4 border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:border-gray-600"
    >
      <div class="flex-shrink-0">
        <img
          class="w-11 h-11 rounded-full"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png"
          alt="Roberta Casas image"
        />
      </div>
      <div class="pl-3 w-full">
        <div
          class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400"
        >
          <span class="font-semibold text-gray-900 dark:text-white"
            >Leslie Livingston</span
          >
          mentioned you in a comment:
          <span class="font-medium text-primary-700 dark:text-primary-500"
            >@bonnie.green</span
          >
          what do you say?
        </div>
        <div class="text-xs font-medium text-primary-700 dark:text-primary-400">
          1 hour ago
        </div>
      </div>
    </a>
    <a
      href="#"
      class="flex py-3 px-4 border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:border-gray-600"
    >
      <div class="flex-shrink-0">
        <img
          class="w-11 h-11 rounded-full"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png"
          alt="Joseph McFall avatar"
        />
      </div>
      <div class="pl-3 w-full">
        <div
          class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400"
        >
          <span class="font-semibold text-gray-900 dark:text-white"
            >Joseph Mcfall</span
          >
          and
          <span class="font-medium text-gray-900 dark:text-white"
            >141 others</span
          >
          love your story. See it and view more stories.
        </div>
        <div class="text-xs font-medium text-primary-700 dark:text-primary-400">
          44 minutes ago
        </div>
      </div>
    </a>
  </div>
  <a
    href="#"
    class="block py-2 text-base font-medium text-center text-gray-900 bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:text-white dark:hover:underline"
  >
    <div class="inline-flex items-center">
      <svg
        class="w-4 h-4 mr-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 14"
      >
        <path
          d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"
        />
      </svg>
      View all
    </div>
  </a>
</div>
