{% extends "_base.html" %}
{% load main_extras %}
{% load static %}
{% block header %}
{% endblock header %}
{% block content %}
<main class="">
  <section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        <h2
          class="mb-4 text-xl lg:text-4xl tracking-tight font-extrabold text-gray-900"
        >
          Pfadfinderwissen
        </h2>
        <img class="h-40 max-w-full rounded-lg mx-auto" src="{% static "images/inspi_teacher.webp" %}" alt="image description">
        <p class="font-light text-gray-500 sm:text-xl my-3">
          Wissenswerte Artikel für Pfadfinder und Gruppenführungen
        </p>
        {% comment %} <a href="{% url 'post-list' %}" class="py-3 px-4 my-2 mx-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"> Mehr Artikel</a> {% endcomment %}
        {% if user.is_authenticated %}
          <a href="{% url 'post-dashboard' %}" class="py-3 px-4 my-2 mx-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-lg rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Meine Artikel</a>
        {% endif %}
      </div>
      <div>
        <h2
        class="mb-4 text-lg text-gray-500 lg:text-2xl tracking-tight font-extrabold text-gray-900"
      >
        Themen
      </h2>
        <div class="">
          {% for category in categories %}
            <a href="{% url 'blog-main-slug' category.slug %}" class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center justify-center">{{ category.title }}</a>
          {% endfor %}
        </div>
      </div>
      <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
      <h2
        class="mb-4 text-lg text-gray-500 lg:text-2xl tracking-tight font-extrabold text-gray-900"
      >
        Neusten Artikel
      </h2>
      <div class="grid gap-8 lg:grid-cols-2">
          {% for obj in latest %}

          <article
            class="p-6 bg-white rounded-lg border border-gray-200 shadow-md"
          >
          {% include 'post-box.html' with obj=obj %}
        
          </article>
          {% empty %}
            <p>Keine Artikel gefunden</p>
          {% endfor %}
      </div>
      <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
      <h2
        class="my-4 text-lg text-gray-500 lg:text-2xl tracking-tight font-extrabold text-gray-900"
      >
        Beliebteste Artikel
      </h2>
      <div class="grid gap-8 lg:grid-cols-2">
          {% for obj in most_famous %}

          <article
            class="p-6 bg-white rounded-lg border border-gray-200 shadow-md"
          >
          {% include 'post-box.html' with obj=obj %}
          </article>
          {% empty %}
            <p>Keine Artikel gefunden</p>
          {% endfor %}
      </div>
      <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
      <h2
        class="my-4 text-lg text-gray-500 lg:text-2xl tracking-tight font-extrabold text-gray-900"
      >
        Zufällige Artikel
      </h2>
      <div class="grid gap-8 lg:grid-cols-2">
          {% for obj in randoms %}

          <article
            class="p-6 bg-white rounded-lg border border-gray-200 shadow-md"
          >
          {% include 'post-box.html' with obj=obj %}
        
          </article>
          {% empty %}
            <p>Keine Artikel gefunden</p>
          {% endfor %}
        </div>

    </div>
  </section>
</main>
{% endblock content %}
