{% extends "_base.html" %}
{% load main_extras %}
{% block header %}
{% endblock header %}
{% block content %}
    <main class="max-w-3xl mx-auto px-4 py-8">
        <article class="prose lg:prose-xl">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900">
                        <div class="mr-8 font-xl relative inline-flex items-center justify-center w-20 h-20 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                            <span class="font-xl text-gray-600 dark:text-gray-300">{{ user|title|make_list|first }}</span>
                        </div>
                        <div>
                            <a href="{% url 'user-detail-overview' post.author.scout_display_name %}"
                               rel="author"
                               class="text-xl font-bold text-gray-900">{{ post.author.scout_display_name }}</a>
                            <p class="text-base text-gray-500">{{ post.author.about }}</p>
                            <p class="text-base text-gray-500">
                                <time pubdate datetime="2022-02-08" title="February 8th, 2022">{{ post.timestamp_created }}</time>
                            </p>
                        </div>
                    </div>
                    <div class="inline-flex rounded-md shadow-sm ml-6" role="group">
                        {% if user == post.author or user.is_superuser %}
                            <a href="{% url 'post-update' post.slug %}"
                               type="button"
                               class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                </address>
                <div class="flex items-center my-2">
                    {% for category in post.categories.all %}
                        <a href="#"
                           class="bg-blue-100 text-blue-800 text-sm font-medium mr-3 px-2.5 py-0.5 rounded hover:bg-blue-200">{{ category }}</a>
                    {% endfor %}
                </div>
                <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl">{{ post.title }}</h1>
            </header>
            <p class="lead mb-6">{{ post.overview }}</p>
            {{ post.content|safe }}
        </article>
        {% include 'post/comment.html' with comments=post.comment_set.all comment_form=comment_form %}
        {% include 'post/related-posts.html' with related_posts=related_posts %}
    {% endblock content %}
</main>
