{% extends '_base.html' %}
{% load main_extras %}
{% load crispy_forms_tags %}
{% block header %}

{% endblock %}
{% block content %}
  <section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-8">
    <div class="mx-auto max-w-screen-lg px-4 2xl:px-0">
      <h1 class="mb-4 text-xl font-extrabold leading-tight text-gray-900 lg:mb-6 text-2xl">
        Hier kannst du Basisdaten einsehen und ändern.
      </h1>
      {% include 'overview.html' %}
    </div>
  </section>
{% endblock content %}
