{% load component_tags %}
<h2 class="text-lg font-bold mb-4 mt-4">Verantwortliche Personen</h2>
<p class="text-sm text-gray-500 mb-4">Hier siehst du alle Personen die berechtigt sind diese Anmeldung zu bearbeiten.</p>

{% if form.errors %}
  <div class="mb-4">
    <div class="text-red-600">
      {% for field in form %}
        {% for error in field.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if messages %}
  <div class="mb-4">
    {% for message in messages %}
      <div class="text-red-600">{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}
{% component 'table' page_obj=page_obj form=form %}
{% fill 'table_heads' %}
<tr>
  <th scope="col" class="px-4 py-3">Verantwortliche Personen</th>
  <th scope="col" class="px-4 py-3">Aktionen</th>
</tr>
{% endfill %}
{% fill 'table_row' %}
{% for responsible_person in page_obj %}
  <tr class="hover:bg-gray-50 dark:hover:bg-gray-700 {% if item.is_canceled %}bg-red-600{% endif %}">
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">
      <a href="{% url 'user-detail-overview' responsible_person.username %}" class="text-blue-600 hover:text-blue-800 hover:underline">
      {{ responsible_person.scout_display_name }}
      </a>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">
      <button type="button" 
              class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5" 
              data-modal-target="deleteModal{{ responsible_person.id }}" 
              data-modal-toggle="deleteModal{{ responsible_person.id }}">
        Entfernen
      </button>
      
      <!-- Delete Modal -->
      <div id="deleteModal{{ responsible_person.id }}" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                Verantwortliche Person entfernen
              </h3>
              <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="deleteModal{{ responsible_person.id }}">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Modal schließen</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
              <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                Bist du sicher, dass du <strong>{{ responsible_person.scout_display_name }}</strong> als verantwortliche Person entfernen möchtest?
              </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
              <form method="post" action="{% url 'remove-responsible-person' reg.id responsible_person.id %}">
                {% csrf_token %}
                <button type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                  Ja, entfernen
                </button>
              </form>
              <button type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600" data-modal-hide="deleteModal{{ responsible_person.id }}">
                Abbrechen
              </button>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
{% endfor %}
{% endfill %}
{% endcomponent %}
