{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Passwort festlegen
{% endblock title %}
{% block content %}
    <div class="mx-auto flex flex-col items-center justify-center">
        <form method="POST" action="" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button class="btn btn-primary"
                        type="submit"
                        name="action"
                        value="Passwort festlegen">
                    Passwort
                    ändern
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
