{% extends "plan/detail/_base.html" %}
{% load main_extras %}
{% load crispy_forms_tags %}
{% block detailcontent %}
    <section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-8">
        <div class="mx-auto max-w-screen-lg px-4 2xl:px-0">
            <h2 class="text-2xl font-bold mb-1">Plan {{ plan.event_name }}</h2>
            <p class="text-lg text-gray-500 mb-4">Voll der gute Plan</p>
            <div class="grid grid-cols-1 mt-12 -mx-8 lg:mt-16 lg:grid-cols-{% if plan.list_meal_days.count > 2 %}3{% else %}1{% endif %} gap-y-12">
                {% for meal_day in plan.list_meal_days.all %}
                    <div class="px-8 space-y-6">
                        <div class="flex justify-center space-x-4">
                            <a href="{% url 'meal-day-update' meal_day.id %}"
                               class="inline-flex items-center px-4 py-2.5 text-sm font-medium text-white bg-yellow-300 rounded-lg hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-300">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-1.5L6.75 17.25a2.121 2.121 0 0 1-.878.878l-3.536 1.768a.75.75 0 0 1-.964-.964l1.768-3.536a2.121 2.121 0 0 1 .878-.878l9.982-9.982a2.121 2.121 0 0 1 3 3z" />
                                </svg>
                            </a>
                        </div>
                        <h3 class="text-2xl font-bold text-center text-gray-900 dark:text-white">{{ meal_day.date|date:"l, d.m.Y" }}</h3>
                        {% for meal in meal_day.list_meals %}
                            <div class="space-y-4">
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                                    <svg aria-hidden="true"
                                         class="w-3 h-3 mr-1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20"
                                         fill="currentColor">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
                                    </svg>
                                    {% if meal.time_start and meal.time_end %}
                                        {{ meal.time_start }} - {{ meal.time_end }}
                                    {% else %}
                                        Ganztag
                                    {% endif %}
                                </span>
                                <h4 class="text-xl font-bold text-gray-900 dark:text-white">
                                    <a href="{% url 'meal-detail-overview' plan.slug meal.id %}"
                                       class="hover:underline">{{ meal.name }}</a>
                                </h4>
                                <div class="flex items-center gap-3">
                                    <div>
                                        <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
                                            {% if meal.list_meal_items.all %}
                                                {% for item in meal.list_meal_items.all %}
                                                    {{ item.recipe.name }}
                                                    {% if not forloop.last %},{% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <span class="text-red-500">Noch nichts hinzugefügt</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="flex justify-left space-x-4">
                            <a href="{% url 'meal-create' meal_day.id %}"
                               class="inline-flex items-center px-4 py-2.5 text-sm font-medium text-white bg-green-500 rounded-lg hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                </svg>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock detailcontent %}
