{% extends 'group/details/_group_detail_base.html' %}
{% load component_tags %}
{% block groupdetailcontent %}
    <section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-8">
        <div class="mx-auto max-w-screen-lg px-4 2xl:px-0">
            <h2 class="text-2xl font-bold mb-4">Ankündigungen von {{ group.name }}</h2>
            <p class="text-sm text-gray-500 dark:text-gray-400 my-2">
                {% if is_admin %}
                    <span class="font-semibold">Hier kannst du Neuigkeiten und Nachrichten der Gruppen Admins sehen oder dieses erstellen.</span>
                {% else %}
                    <span class="font-semibold">Hier kannst du Neuigkeiten und Nachrichten der Gruppen Admins sehen.</span>
                {% endif %}
            </p>
            {% if is_admin %}
            <div class="mb-6">
                {% component "action-box"
                description="Neue Ankündigung erstellen und Mitglieder informieren."
                text="News erstellen"
                link="{% url 'group-detail-news-create' group.slug %}"
                color="green"
                icon="plus"
                %}
                {% endcomponent %}
            </div>
            {% endif %}
            {% if news.count == 0 %}
            <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6 text-center flex flex-col items-center mb-6">
                {% component "icon" icon="bullhorn" size="xl" css_class="text-gray-800 mb-5" %}{% endcomponent %}
                <h3 class="text-gray-500">Es wurde noch keine News von den Gruppen Admins veröffentlicht.</h3>
            </div>
            {% endif %}
            {% for news in news %}
                {% include 'group/details/news/news_card.html' %}
            {% endfor %}
</div>
</div>
</section>
{% endblock %}
