annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
cairocffi==1.7.1
cairosvg==2.9.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
colorama==0.4.6
config==0.5.1
crispy-bootstrap4==2026.2
cryptography==46.0.5
cssbeautifier==1.15.4
cssselect2==0.9.0
defusedxml==0.7.1
distro==1.9.0
django==6.0.3
django-allauth==65.15.0
django-appconf==1.2.0
django-browser-reload==1.21.0
django-ckeditor==6.7.3
django-colorfield==0.14.0
django-components==0.148.0
django-compressor==4.6.0
django-crispy-forms==2.6
django-environ==0.13.0
django-filter==25.2
django-formtools==2.5.1
django-htmx-autocomplete==1.0.17
django-image-cropping==1.7
django-imagekit==6.1.0
django-js-asset==3.1.2
django-mathfilters==1.0.0
django-pictures==1.7.3
django-tailwind==4.4.2
django-tracking2==0.5.1
django-widget-tweaks==1.5.1
djc-core==1.3.0
djlint==1.36.4
easy-thumbnails==2.10.1
editorconfig==0.17.1
google-api-core==2.30.0
google-auth==2.49.1
google-cloud-secret-manager==2.26.0
google-genai==1.68.0
googleapis-common-protos==1.73.0
grpc-google-iam-v1==0.14.3
grpcio==1.78.0
grpcio-status==1.78.0
gunicorn==25.2.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
jsbeautifier==1.15.4
json5==0.13.0
jsonref==1.1.0
packaging==26.0
pathspec==1.0.4
pilkit==3.0
pillow==12.1.1
proto-plus==1.27.1
protobuf==6.33.6
psycopg2-binary==2.9.11
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic-core==2.41.5
pytailwindcss==0.3.0
python-dotenv==1.2.2
pyyaml==6.0.3
rcssmin==1.2.2
regex==2026.2.28
requests==2.33.0
rjsmin==1.2.5
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.5
tenacity==9.1.4
tinycss2==1.5.1
tqdm==4.67.3
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.6.3
webencodings==0.5.1
websockets==16.0
