aiohappyeyeballs==2.4.4 ; python_version >= "3.12" and python_version < "4.0"
aiohttp==3.11.10 ; python_version >= "3.12" and python_version < "4.0"
aiosignal==1.3.2 ; python_version >= "3.12" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
anyio==4.7.0 ; python_version >= "3.12" and python_version < "4.0"
asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
attrs==24.3.0 ; python_version >= "3.12" and python_version < "4.0"
cachetools==5.5.0 ; python_version >= "3.12" and python_version < "4.0"
cairocffi==1.7.1 ; python_version >= "3.12" and python_version < "4.0"
cairosvg==2.7.1 ; python_version >= "3.12" and python_version < "4.0"
certifi==2024.12.14 ; python_version >= "3.12" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.4.0 ; python_version >= "3.12" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and platform_system == "Windows"
config==0.5.1 ; python_version >= "3.12" and python_version < "4.0"
crispy-bootstrap4==2024.10 ; python_version >= "3.12" and python_version < "4.0"
cssselect2==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.12" and python_version < "4.0"
distro==1.9.0 ; python_version >= "3.12" and python_version < "4.0"
django-allauth==0.63.6 ; python_version >= "3.12" and python_version < "4.0"
django-appconf==1.0.6 ; python_version >= "3.12" and python_version < "4.0"
django-browser-reload==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
django-ckeditor==6.7.2 ; python_version >= "3.12" and python_version < "4.0"
django-colorfield==0.11.0 ; python_version >= "3.12" and python_version < "4.0"
django-compressor==4.5.1 ; python_version >= "3.12" and python_version < "4.0"
django-crispy-forms==2.3 ; python_version >= "3.12" and python_version < "4.0"
django-environ==0.11.2 ; python_version >= "3.12" and python_version < "4"
django-filter==24.3 ; python_version >= "3.12" and python_version < "4.0"
django-formtools==2.5.1 ; python_version >= "3.12" and python_version < "4.0"
django-image-cropping==1.7 ; python_version >= "3.12" and python_version < "4.0"
django-imagekit==5.0.0 ; python_version >= "3.12" and python_version < "4.0"
django-js-asset==2.2.0 ; python_version >= "3.12" and python_version < "4.0"
django-mathfilters==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
django-pictures==1.3.4 ; python_version >= "3.12" and python_version < "4.0"
django-tailwind==3.8.0 ; python_version >= "3.12" and python_version < "4.0"
django-tracking2==0.5.1 ; python_version >= "3.12" and python_version < "4.0"
django-widget-tweaks==1.5.0 ; python_version >= "3.12" and python_version < "4.0"
django==5.1.4 ; python_version >= "3.12" and python_version < "4.0"
docstring-parser==0.16 ; python_version >= "3.12" and python_version < "4.0"
easy-thumbnails==2.10 ; python_version >= "3.12" and python_version < "4.0"
frozenlist==1.5.0 ; python_version >= "3.12" and python_version < "4.0"
google-ai-generativelanguage==0.6.10 ; python_version >= "3.12" and python_version < "4.0"
google-api-core==2.24.0 ; python_version >= "3.12" and python_version < "4.0"
google-api-core[grpc]==2.24.0 ; python_version >= "3.12" and python_version < "4.0"
google-api-python-client==2.155.0 ; python_version >= "3.12" and python_version < "4.0"
google-auth-httplib2==0.2.0 ; python_version >= "3.12" and python_version < "4.0"
google-auth==2.37.0 ; python_version >= "3.12" and python_version < "4.0"
google-cloud-secret-manager==2.22.0 ; python_version >= "3.12" and python_version < "4.0"
google-generativeai==0.8.3 ; python_version >= "3.12" and python_version < "4.0"
googleapis-common-protos==1.66.0 ; python_version >= "3.12" and python_version < "4.0"
googleapis-common-protos[grpc]==1.66.0 ; python_version >= "3.12" and python_version < "4.0"
grpc-google-iam-v1==0.13.1 ; python_version >= "3.12" and python_version < "4.0"
grpcio-status==1.68.1 ; python_version >= "3.12" and python_version < "4.0"
grpcio==1.68.1 ; python_version >= "3.12" and python_version < "4.0"
gunicorn==23.0.0 ; python_version >= "3.12" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.12" and python_version < "4.0"
httpcore==1.0.7 ; python_version >= "3.12" and python_version < "4.0"
httplib2==0.22.0 ; python_version >= "3.12" and python_version < "4.0"
httpx==0.28.1 ; python_version >= "3.12" and python_version < "4.0"
idna==3.10 ; python_version >= "3.12" and python_version < "4.0"
instructor[google-generativeai]==1.7.0 ; python_version >= "3.12" and python_version < "4.0"
jinja2==3.1.4 ; python_version >= "3.12" and python_version < "4.0"
jiter==0.6.1 ; python_version >= "3.12" and python_version < "4.0"
jsonref==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.12" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
multidict==6.1.0 ; python_version >= "3.12" and python_version < "4.0"
openai==1.57.4 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.12" and python_version < "4.0"
pilkit==3.0 ; python_version >= "3.12" and python_version < "4.0"
pillow==11.0.0 ; python_version >= "3.12" and python_version < "4.0"
propcache==0.2.1 ; python_version >= "3.12" and python_version < "4.0"
proto-plus==1.25.0 ; python_version >= "3.12" and python_version < "4.0"
protobuf==5.29.1 ; python_version >= "3.12" and python_version < "4.0"
psycopg2-binary==2.9.10 ; python_version >= "3.12" and python_version < "4.0"
pyasn1-modules==0.4.1 ; python_version >= "3.12" and python_version < "4.0"
pyasn1==0.6.1 ; python_version >= "3.12" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.12" and python_version < "4.0"
pydantic-core==2.27.1 ; python_version >= "3.12" and python_version < "4.0"
pydantic==2.10.3 ; python_version >= "3.12" and python_version < "4.0"
pygments==2.18.0 ; python_version >= "3.12" and python_version < "4.0"
pyparsing==3.2.0 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "4.0"
rcssmin==1.1.2 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
rich==13.9.4 ; python_version >= "3.12" and python_version < "4.0"
rjsmin==1.2.2 ; python_version >= "3.12" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.12" and python_version < "4"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.12" and python_version < "4.0"
tenacity==9.0.0 ; python_version >= "3.12" and python_version < "4.0"
tinycss2==1.4.0 ; python_version >= "3.12" and python_version < "4.0"
tqdm==4.67.1 ; python_version >= "3.12" and python_version < "4.0"
typer==0.15.1 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.2 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
uritemplate==4.1.1 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.2.3 ; python_version >= "3.12" and python_version < "4.0"
webencodings==0.5.1 ; python_version >= "3.12" and python_version < "4.0"
yarl==1.18.3 ; python_version >= "3.12" and python_version < "4.0"
