{% load component_tags %}
{% component 'table' page_obj=page_obj form=form %}
{% fill 'table_heads' %}
<tr>
    <th scope="col"
        class="whitespace-nowrap p-4 text-xs font-semibold uppercase text-gray-500 dark:text-gray-400">Postleitzahl</th>
    <th scope="col"
        class="whitespace-nowrap p-4 text-xs font-semibold uppercase text-gray-500 dark:text-gray-400">Stadt</th>
    <th scope="col"
        class="whitespace-nowrap p-4 text-xs font-semibold uppercase text-gray-500 dark:text-gray-400">Bundesland</th>
    <th scope="col"
        class="whitespace-nowrap p-4 text-xs font-semibold uppercase text-gray-500 dark:text-gray-400">Breitengrad</th>
    <th scope="col"
        class="whitespace-nowrap p-4 text-xs font-semibold uppercase text-gray-500 dark:text-gray-400">Längengrad</th>
</tr>
{% endfill %}
{% fill 'table_row' %}
{% for item in page_obj %}
    <tr class="hover:bg-gray-50 dark:hover:bg-gray-700">
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">
            <a href="{% url 'master-data-zip-code-overview' item.id %}"
               class="text-blue-600 hover:text-blue-700">{{ item.zip_code }}</a>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ item.city }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ item.get_state_display }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ item.lat }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ item.lon }}</td>
    </tr>
{% endfor %}
{% endfill %}
{% endcomponent %}
