{% extends "_base.html" %}
{% load main_extras %}
{% load crispy_forms_tags %}
{% block header %}
{% endblock header %}
{% block content %}
    <main class="max-w-3xl mx-auto px-4 py-8">
        <article class="prose lg:prose-xl">
            <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl">Veranstaltung klonen</h1>
            <form action="#">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div>
                        <label for="{{ form.title.id }}"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Veranstaltungsname
                        </label>
                        <input type="text"
                               name="{{ form.title.name }}"
                               id="{{ form.title.id }}"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="z.B. Pfingstlager 2024" />
                    </div>
                    <div class="sm:col-span-2">
                        <label for="description"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Beschreibung
                        </label>
                        <textarea id="description"
                                  rows="4"
                                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                  placeholder="z.B. Pfingstlager vom Stamm Wikinger"></textarea>
                    </div>
                </div>
                <hr class="my-4 h-0.3 bg-blue-400" />
                <div class="mb-4 space-y-4">
                    <h3>Vorlage auswählen</h3>
                    <div class="py-3 px-3">{% include "meal/meal-event-clone/template-selection.html" with mealEvents=mealEvents %}</div>
                </div>
                <div class="items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                    <div class="w-full md:w-auto flex flex-col md:flex-row mb-3 md:mb-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                        <a href="{% url 'plan-detail-overview' 'zweites-event' %}"
                           class="py-3 px-4 my-2 mx-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            Essensplan erstellen
                        </a>
                    </div>
                </div>
            </form>
        </article>
    </main>
{% endblock content %}
