{% load component_tags %}
{% component 'table' page_obj=page_obj form=form %}
{% fill 'table_heads' %}
<tr>
    <th scope="col"
        class="whitespace-nowrap p-4 text-xs font-semibold uppercase text-gray-500 dark:text-gray-400">Kurzname</th>
    <th scope="col"
        class="whitespace-nowrap p-4 text-xs font-semibold uppercase text-gray-500 dark:text-gray-400">Abkürzung</th>
    <th scope="col"
        class="whitespace-nowrap p-4 text-xs font-semibold uppercase text-gray-500 dark:text-gray-400">Voller Name</th>
    <th scope="col"
        class="whitespace-nowrap p-4 text-xs font-semibold uppercase text-gray-500 dark:text-gray-400">Ebene</th>
    <th scope="col"
        class="whitespace-nowrap p-4 text-xs font-semibold uppercase text-gray-500 dark:text-gray-400">Status</th>
    <th scope="col"
        class="whitespace-nowrap p-4 text-xs font-semibold uppercase text-gray-500 dark:text-gray-400">Bund</th>
    <th scope="col"
        class="whitespace-nowrap p-4 text-xs font-semibold uppercase text-gray-500 dark:text-gray-400">
        Untergruppen
    </th>
    <th scope="col"
        class="whitespace-nowrap p-4 text-xs font-semibold uppercase text-gray-500 dark:text-gray-400">
        Ges. Untergruppen
    </th>
</tr>
{% endfill %}
{% fill 'table_row' %}
{% for item in page_obj %}
    <tr class="hover:bg-gray-50 dark:hover:bg-gray-700 {% if item.is_canceled %}bg-red-600{% endif %}">
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">
            <a href="{% url 'master-data-scout-hierarchy-overview' item.id %}"
               class="text-blue-600 hover:text-blue-700">{{ item.name }}</a>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ item.abbreviation|default_if_none:'' }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ item.full_name|default_if_none:'' }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ item.get_level_choice_display }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">
            {% if item.status == 'active' %}
                Aktiv
            {% elif item.status == 'inactive' %}
                Inaktiv
            {% elif item.status == 'upcoming' %}
                Zukünftig
            {% else %}
                Unbekannt
            {% endif %}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ item.bund }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ item.children.count }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ item.all_childen_count }}</td>
    </tr>
{% endfor %}
{% endfill %}
{% endcomponent %}
