{% extends "_base.html" %}
{% load main_extras %}
{% load crispy_forms_tags %}
{% block header %}
{% endblock header %}
{% block content %}
  <main class="max-w-3xl mx-auto px-4 py-8">
    <article class="prose lg:prose-xl">
      <h1
        class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl"
      >
      </h1>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <button
            type="submit"
            class="inline-flex items-center px-3 py-2 border border-transparent rounded-md shadow-sm text-sm
            font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2
            focus:ring-offset-2 focus:ring-blue-500">
            Ändern
        </button>
      </form>
    </article>
  </main>
{% endblock content %}
