<form
  action="{% url 'ingredient-list' %}"
  method="GET"
  id="dropdownFilter"
  class="z-10 hidden max-w-screen-sm p-3 space-y-4 bg-white rounded-lg shadow dark:bg-gray-700"
  aria-labelledby="dropdownFilterButton"
>
  {% csrf_token %}
  <h5
    id="drawer-label"
    class="inline-flex items-center text-gray-500 dark:text-gray-400"
  >
    Filter
  </h5>
  {% for key in form.physical_viscosity %} {{ key }} {% endfor %}
  {{ form.query.as_hidden }}
  <div class="flex mt-6 space-x-4">
    <a
      href="{% url 'ingredient-list' %}"
      class="my-1 mx-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >
      Zurücksetzen
    </a>
  </div>
</form>
