<tr>
    <td class="p-3">
        <a href="{% url 'ingredient-detail-overview' item.slug %}"
           class="hover:bg-gray-50">
            <h3 class="text-md text-blue-700 mb-2 md:mb-3">{{ item.name }}</h3>
        </a>
    </td>
    <td>
        <p class="text-sm font-semibold text-gray-900 dark:text-white">{{ item.retail_section }}</p>
    </td>
    <td class="col-span-1">
        <h6 class="text-sm font-normal text-gray-500 dark:text-gray-400">Preis je Kg</h6>
        <p class="text-sm font-semibold text-gray-900 dark:text-white">{{ item.meta_info.price_per_kg|floatformat:2 }} €</p>
    </td>
    <td class="col-span-1">
        <h6 class="text-sm font-normal text-gray-500 dark:text-gray-400">Nutri Score</h6>
        <p class="text-sm font-semibold text-gray-900 dark:text-white">{{ item.meta_info.nutri_points }}</p>
    </td>
</tr>
