{% load component_tags %}
<a href="{{ url }}"
   class="inline-flex items-center justify-center h-9 w-9 rounded-lg text-{{ color }}-500 hover:bg-{{ color }}-50 hover:text-{{ color }}-700 transition-all duration-200" title="{{ icon }}">
    <svg class="h-5 w-5"
         aria-hidden="true"
         xmlns="http://www.w3.org/2000/svg"
         width="24"
         height="24"
         fill="none"
         viewBox="0 0 24 24">
        {% component "icon" icon=icon %} {% endcomponent %}
    </svg>
</a>
