<h2 class="text-2xl font-bold my-4">Basis</h2>
<div class="col-span-1 rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:col-span-4">
  <!-- Liste -->
  <dl class="list-inside text-gray-500 dark:text-gray-400">
    <div class="border-b border-gray-200 py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
      <dt class="font-semibold text-gray-900 dark:text-white">Name</dt>
      <dd class="sm:text-end">{{ event.name }}</dd>
    </div>
    <div class="border-b border-gray-200 py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
      <dt class="font-semibold text-gray-900 dark:text-white">Technischer Name</dt>
      <dd class="sm:text-end">{{ event.slug }}</dd>
    </div>
    <div class="border-b border-gray-200 py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
      <dt class="font-semibold text-gray-900 dark:text-white">Direkter Link</dt>
      <dd class="sm:text-end">
        <a href="{{ request.scheme }}://{{ request.get_host }}/e/{{ event.slug }}" class="text-blue-600 hover:underline dark:text-blue-500">
          {{ request.scheme }}://{{ request.get_host }}/e/{{ event.slug }}
        </a>
      </dd>
    </div>
    <div class="border-b border-gray-200 py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
      <dt class="font-semibold text-gray-900 dark:text-white">Kurzbeschreibung</dt>
      <dd class="sm:text-end">{{ event.short_description }}</dd>
    </div>
    <div class="border-b border-gray-200 py-4 dark:border-gray-700">
      <dt class="font-semibold text-gray-900 dark:text-white mb-2">Ausführliche Beschreibung</dt>
      <dd class="mt-2 p-4 rounded-md bg-gray-50 dark:bg-gray-700 border border-gray-200 dark:border-gray-600">
        {{ event.long_description|safe }}
      </dd>
    </div>
  </dl>
</div>

<h2 class="text-2xl font-bold my-4">Zeiträume</h2>
<div class="col-span-1 rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:col-span-4">
<dl class="list-inside text-gray-500 dark:text-gray-400">
    <div class="border-b border-gray-200 py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
        <dt class="font-semibold text-gray-900 dark:text-white">Veranstaltungsdatum</dt>
        <dd class="sm:text-end">{{ event.start_date|date:"l, d.m.Y H:i" }} bis {{ event.end_date|date:"l, d.m.Y H:i" }}</dd>
    </div>
    <div class="border-b border-gray-200 py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
        <dt class="font-semibold text-gray-900 dark:text-white">Anmeldephase</dt>
        <dd class="sm:text-end">{{ event.registration_deadline|date:"l, d.m.Y H:i" }} bis {{ event.registration_start|date:"l, d.m.Y H:i" }}</dd>
    </div>
</dl>
</div>

<h2 class="text-2xl font-bold my-4">Ort</h2>
<div class="col-span-1 rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:col-span-4">
<dl class="list-inside text-gray-500 dark:text-gray-400">
    <div class=" py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
        <dt class="font-semibold text-gray-900 dark:text-white">Ort</dt>
        <dd class="sm:text-end">
          {% if event.location %}
            <a href="{% url 'master-data-event-location-overview' event.location.id %}" class="text-blue-600 hover:underline dark:text-blue-500">
              {{ event.location }}
            </a>
          {% else %}
            -
          {% endif %}
        </dd>
    </div>
</dl>
</div>

<h2 class="text-2xl font-bold my-4">Anmelde Ebene</h2>
<div class="col-span-1 rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:col-span-4">
  <dl class="list-inside text-gray-500 dark:text-gray-400">
    <div class="border-b border-gray-200 py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
      <dt class="font-semibold text-gray-900 dark:text-white">Anmeldetyp Name</dt>
      <dd class="sm:text-end">{{ event.registration_type.name }}</dd>
    </div>
    <div class="border-b border-gray-200 py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
      <dt class="font-semibold text-gray-900 dark:text-white">Beschreibung</dt>
      <dd class="sm:text-end">{{ event.registration_type.description }}</dd>
    </div>
    <div class="border-b border-gray-200 py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
      <dt class="font-semibold text-gray-900 dark:text-white">Anmeldeebene</dt>
      <dd class="sm:text-end">{{ event.registration_type.get_level_choice_display }}</dd>
    </div>
    <div class="border-b border-gray-200 py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
      <dt class="font-semibold text-gray-900 dark:text-white">Mehrere Teilnehmer erlaubt</dt>
      <dd class="sm:text-end">{{ event.registration_type.allowed_multiple_participants|yesno:'Ja,Nein' }}</dd>
    </div>
    <div class="border-b border-gray-200 py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
      <dt class="font-semibold text-gray-900 dark:text-white">Pfadfindergruppe verpflichend?</dt>
      <dd class="sm:text-end">{{ event.registration_type.need_scout_group|yesno:'Ja,Nein' }}</dd>
    </div>
    <div class="border-b border-gray-200 py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
      <dt class="font-semibold text-gray-900 dark:text-white">Nur eine Anmeldung je Gruppe</dt>
      <dd class="sm:text-end">{{ event.registration_type.force_single_scout_group|yesno:'Ja,Nein' }}</dd>
    </div>
  </dl>
</div>

<h2 class="text-2xl font-bold my-4">Sonstiges</h2>
<div class="col-span-1 rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:col-span-4">
  <dl class="list-inside text-gray-500 dark:text-gray-400">
    <div class="border-b border-gray-200 py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
      <dt class="font-semibold text-gray-900 dark:text-white">Für alle Eingeladenen Öffentlich?</dt>
      <dd class="sm:text-end">{{ event.is_public|yesno:'Ja,Nein' }}</dd>
    </div>
    <div class="border-b border-gray-200 py-4 dark:border-gray-700 sm:flex sm:items-center sm:justify-between">
      <dt class="font-semibold text-gray-900 dark:text-white">Erstellt von</dt>
      <dd class="sm:text-end">
        <a href="{% url 'user-detail-overview' event.created_by.username %}" class="text-blue-600 hover:underline dark:text-blue-500">
          {{ event.created_by.scout_display_name }}
        </a>
      </dd>
    </div>
  </dl>
</div>
