{% load component_tags %}
<div id="overview" role="tabpanel" aria-labelledby="overview-tab" class="mt-4">
  <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-4">
    {% comment %} {% component 'action-box' description='Weitere Person' text='hinzufügen' link="{% url 'participant-create' reg.id %}" color='green' icon='plus' %}
    {% endcomponent %} {% endcomment %}
    {% comment %} {% component 'action-box' description='Weitere Person aus deinem Account ' text='anmelden' link="{% url 'registration-wizard' event.slug %}" color='green' icon='plus' %}
    {% endcomponent %}
    {% component 'action-box' description='Weitere Person mit Excel ' text='anmelden' link="{% url 'registration-wizard' event.slug %}" color='green' icon='plus' %}
    {% endcomponent %} {% endcomment %}
  </div>
</div>