{% extends "_base.html" %}
{% load main_extras %}
{% load static %}
{% block header %}
{% endblock header %}
{% block content %}
    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 max-w-xl">
            <div class="grid grid-cols-1 gap-6 text-left">
                <div>
                    <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Unterstüze uns</h2>
                    <img class="h-40 max-w-full rounded-lg mx-auto"
                         src="{% static 'images/inspi_wewantyou.webp' %}"
                         alt="image description" />
                    <div class="max-w-3xl p-5 mx-auto mt-8 space-y-5 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                        <div class="pb-5 border-b border-gray-200 dark:border-gray-700">
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Ideen einbringen</h3>
                            <p class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400">
                                Wir laden euch hiermit herzlich ein, einen ganz persönlichen Stein zu diesem Mosaik an Programmideen hinzuzufügen, euch von dem Gesamtkunstwerk inspirieren zu lassen und das für eure Gruppe Beste mitzunehmen. Herzlich Gut Pfad und viel Freude bei euren Heimabenden!
                                <br />
                                <br />
                                <a href="{% url 'activity-create-choice' %}" class="text-blue-500">Deine Idee direkt hinzufügen</a>
                                <br />
                                Euer Team hinter dem Heimabend-Inspirator
                            </p>
                        </div>
                        <div class="pb-5 border-b border-gray-200 dark:border-gray-700">
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Im Team mitwirken</h3>
                            <p class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400">
                                Wir suchen immer wieder nach Unterstützung in unserem Team. Wenn du Lust hast, uns bei der Weiterentwicklung des Heimabend-Inspirators zu helfen, dann melde dich gerne bei uns. Wir freuen uns über jede helfende Hand und sind gespannt auf deine Ideen und Vorschläge.
                                <br />
                                <br />
                                <a href="{% url 'footer-contact' %}" class="text-blue-500">Hier geht es zur Kontaktseite</a>
                                <br />
                            </p>
                        </div>
                    </div>
                </section>
            {% endblock content %}
