{% load component_tags %}
{% component 'big-action-box' header='Gruppe mit Code beitreten' icon='key' color='blue' description='Geben Sie den von Ihrem Gruppenleiter bereitgestellten Code ein, um der Gruppe beizutreten.' button_text="Beitreten mit Code" url="{% url 'join-group-by-code' %}" %}
{% endcomponent %}
{% component 'big-action-box' header='Neue Gruppe erstellen' icon='plus' color='green' description='Du kannst deine eingene Gruppe erstellen. Genau für deine Bedürfnisse.' button_text="Erstellen" url="{% url 'create-group' %}" %}
{% endcomponent %}
{% component 'big-action-box' header='Profil bearbeiten' icon='user-edit' color='purple' description='Vervollständige und bearbeite deine persönlichen Daten in unserem einfachen Profil-Wizard.' button_text="Profil bearbeiten" url="{% url 'start-person-wizard' %}" %}
{% endcomponent %}
