{% extends "plan/_base_plan.html" %}
{% block detailcontent %}
    <div class="mx-auto my-2 px-10">
        <h2 class="text-4xl font-extrabold dark:text-white">Einkaufsliste</h2>
        <p class="my-4 text-lg text-gray-500">Liste mit allen Zutaten sortiert nach Kategorien.</p>
        <ul class="mx-auto divide-y divide-gray-200 dark:divide-gray-700">
            {% for item in shopping_list %}
                {% include "plan/shopping-list/list-item.html" with item=item %}
            {% endfor %}
        </ul>
        <div class="mt-4">
            <h3 class="text-2xl font-bold dark:text-white">Gesamtsummen</h3>
            <p class="text-lg text-gray-500">Gesamtpreis: {{ total_price|floatformat:2 }} €</p>
            <p class="text-lg text-gray-500">Anzahl der Zutaten: {{ shopping_list|length }}</p>
            <p class="text-lg text-gray-500">Gesamtgewicht: {{ total_weight|floatformat:2 }} Kg</p>
        </div>
    </div>
{% endblock detailcontent %}
