{% load mathfilters %}
<aside aria-label="Related articles"
       class="py-8 lg:py-12 bg-gray-50 dark:bg-gray-800">
    <div class="px-4 mx-auto max-w-screen-xl">
        <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Relevante Artikel</h2>
        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
            {% for post in related_posts %}
                <article class="max-w-xs">
                    <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </h2>
                    <p class="mb-4 text-gray-500 dark:text-gray-400">{{ post.overview|truncatechars:40 }}</p>
                    <a href="{{ post.get_absolute_url }}"
                       class="inline-flex items-center font-medium underline underline-offset-4 text-blue-600 dark:text-blue-500 hover:no-underline">
                        Lesen in {{ post.words|div:200 }} Minuten
                    </a>
                </article>
            {% endfor %}
        </div>
    </div>
</aside>
