{% extends '_base_bread.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block contentbread %}
  <div class="py-10">
    <header>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight text-gray-900">Option hinzufügen</h1>
        <p class="mt-1 text-sm text-gray-600">Für Attribut: {{ attribute.title }}</p>
      </div>
    </header>
    <main>
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow rounded-lg mt-6">
          <div class="px-4 py-5 sm:p-6">
            <form method="post">
              {% csrf_token %}
              <div class="space-y-6">{{ form|crispy }}</div>
              <div class="mt-6 flex items-center justify-end">
                <a href="{% url 'event-attribute-detail' attribute.id %}" class="mr-4 inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Abbrechen</a>
                <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 shadow-sm transition duration-150 ease-in-out">Speichern</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
