{% extends "activity/_base_activity.html" %}
{% load main_extras %}
{% load static %}
{% block header %}
{{ form.media }}
{% endblock header %}
{% block detailcontent %}
<main class="">
  <section class="bg-white m-2">
    <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-8 lg:px-6">
      {% if selected_topic %}
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        <h2
          class="mb-4 text-2xl lg:text-4xl tracking-tight font-extrabold text-gray-900">
        {{ selected_topic.name }}
        </h2>
      </div>
      {% elif selected_scout_level %}
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        <h2
          class="mb-4 text-2xl lg:text-4xl tracking-tight font-extrabold text-gray-900">
        Für {{ selected_scout_level.name }}
        </h2>
      </div>

      {% else %} 
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        <h2
          class="mb-4 text-xl lg:text-4xl tracking-tight font-extrabold text-gray-900"
        >
          Gruppenstunden Ideen
        </h2>
        <img class="h-40 max-w-full rounded-lg mx-auto" src="{% static "images/inspi_science.png" %}" alt="image description">
        <p class="font-light text-gray-500 sm:text-xl my-3">
          Hier findest du Gruppenstunden Ideen für deine Pfadfindergruppe.
        </p>
        {% comment %} <a href="{% url 'post-list' %}" class="py-3 px-4 my-2 mx-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"> Mehr Artikel</a> {% endcomment %}
          <a href="{% url 'activity-list' %}" class="py-3 px-4 my-2 mx-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Liste</a>
        {% comment %} {% if user.is_authenticated %}
          <a href="{% url 'activity-admin-main' %}" class="py-3 px-4 my-2 mx-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Verwalten</a>
        {% endif %} {% endcomment %}
        <a href="{% url 'activity-create-choice' %}" class="py-3 px-4 my-2 mx-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Neue Idee</a>
      </div>

      <h2
        class="hidden md:block mb-4 text-lg text-gray-500 lg:text-2xl tracking-tight font-extrabold text-gray-900"
      >
        Themen
      </h2>
        <div class="hidden md:block">
          {% for topic in topics %}
            <a href="{% url 'activity-main-topic' topic.id %}" class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-sm my-1 font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center justify-center">{{ topic.name }}</a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <h2
        class="my-4 text-lg text-gray-500 lg:text-2xl tracking-tight font-extrabold text-gray-900"
      >
        Neusten Artikel
      </h2>
      <div class="grid gap-8 lg:grid-cols-4 md:grid-cols-2">
        {% for activity in newest_activities %}
          <article
            class="p-6 bg-white rounded-lg border border-gray-200 shadow-md"
          >
          {% include "activity/activity-card.html" with activity=activity %}
        </article>
          {% empty %}
            <p>Keine Ideen gefunden</p>
        {% endfor %}
      </div>

      <h2
        class="my-4 text-lg text-gray-500 lg:text-2xl tracking-tight font-extrabold text-gray-900"
      >
        Beliebteste Artikel
      </h2>
      <div class="grid gap-8 lg:grid-cols-4 md:grid-cols-2">
        {% for activity in famous_activities %}
          <article
            class="p-6 bg-white rounded-lg border border-gray-200 shadow-md"
          >
          {% include "activity/activity-card.html" with activity=activity %}
        </article>
          {% empty %}
            <p>Keine Ideen gefunden</p>

        {% endfor %}
      </div>
      <h2
        class="my-4 text-lg text-gray-500 lg:text-2xl tracking-tight font-extrabold text-gray-900"
      >
        Zufällige Artikel
      </h2>
      <div class="grid gap-8 lg:grid-cols-4 md:grid-cols-2">
        {% for activity in random_activities %}
          <article
            class="p-6 bg-white rounded-lg border border-gray-200 shadow-md"
          >
          {% include "activity/activity-card.html" with activity=activity %}
        </article>
          {% empty %}
            <p>Keine Ideen gefunden</p>
        {% endfor %}
      </div>
  </section>
</main>
{% endblock detailcontent %}
