<tr
class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 text-md"
>
<td class="w-4 p-4">
  <div class="flex items-center">
    <input
      id="checkbox-table-search-1"
      type="checkbox"
      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
    />
    <label for="checkbox-table-search-1" class="sr-only"
      >checkbox</label
    >
  </div>
</td>
<th
  scope="row"
  class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white"
>
  {{ template.max_price_eur }} €
</th>
<td class="text-sm px-6 py-4">{{ template.get_suit_level_display }}</td>
<td class="text-sm px-6 py-4">{{ template.get_warm_meal_display }}</td>
<td class="text-sm px-6 py-4">{{ template.get_animal_product_display }}</td>
<td class="text-sm px-6 py-4">{{ template.get_meal_time_options_display }}</td>
<td class="text-sm px-6 py-4">{{ template.get_child_frendly_display }}</td>
</tr>