{% extends 'event_detail/_event_detail_base.html' %}
{% load component_tags %}
{% block eventdetailcontent %}
  <section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-8">
    <div class="mx-auto max-w-screen-lg px-4 2xl:px-0">
      <h2 class="text-2xl font-bold mb-4">Veranstaltung: {{ event.name }}</h2>

      {% if event.registrations.all %}
        <div class="overflow-x-auto">
          <table class="w-full text-left text-sm">
            <thead class="bg-gray-100 dark:bg-gray-700">
              <tr>
                <th scope="col" class="px-4 py-3">Organisation</th>
                <th scope="col" class="px-4 py-3">Verantwortliche Personen</th>
                <th scope="col" class="px-4 py-3">Status</th>
                <th scope="col" class="px-4 py-3">Aktionen</th>
              </tr>
            </thead>
            <tbody>
              {% for registration in event.registrations.all %}
                <tr class="border-b dark:border-gray-700">
                  <td class="px-4 py-3">{{ registration.scout_organisation.name }}</td>

                  <td class="px-4 py-3">
                    <a href="{% url 'reg-detail-overview' registration.id %}" class="text-blue-600 hover:underline dark:text-blue-500">
                      View Details
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p class="text-gray-600 dark:text-gray-400">No registrations yet.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}
