{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Download{% endblock %}
{% block header %}{{ form.media }}{% endblock %}
{% block content %}
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Download des Heimabends</h2>
                <form method="post" action="{% url 'pdf-form' activity.id %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="inline-flex items-center py-2.5 my-2 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800"
                            type="submit">Download</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
