{% extends "_base.html" %}
{% load main_extras %}
{% block header %}
{% endblock header %}
{% block content %}
<main class="">
  <section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="grid space-y-8 lg:grid-cols-2 lg:gap-12 lg:space-y-0">
        <div>
          <h2
            class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900"
          >
            Willkommen beim Food Inspi
          </h2>
          <p class="mb-4 text-gray-500 sm:text-xl">
            Alles rund um die Essensplanung und Rezepte.
          </p>
          <a
            href="#"
            class="inline-flex items-center font-medium sm:text-lg text-primary-600 hover:text-primary-700"
          >
            Learn what makes Flowbite different
            <svg
              class="ml-1 w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
        <div>
          <a
            href="#"
            class="flex justify-between items-center p-4 mb-6 bg-white rounded-lg border-l-8 shadow border-primary-600 hover:bg-gray-50"
          >
            <div>
              <span
                class="block mb-1 text-xs font-medium text-gray-500 uppercase"
                >Dein Planer</span
              >
              <span
                class="text-xl font-semibold text-primary-600"
                >Erstelle und Verwalte deine Pläne</span
              >
            </div>
            <svg
              class="w-6 h-6 text-primary-600"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
          <a
            href="#"
            class="flex justify-between items-center p-4 mb-6 bg-white rounded-lg border-l-8 border-purple-600 shadow hover:bg-gray-50"
          >
            <div>
              <span
                class="block mb-1 text-xs font-medium text-gray-500 uppercase"
                >Finde ein Rezept</span
              >
              <span
                class="text-xl font-semibold text-purple-600"
                >skalieren und simulieren von Rezepten</span
              >
            </div>
            <svg
              class="w-6 h-6 text-purple-600 dark:text-purple-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
          <a
            href="#"
            class="flex justify-between items-center p-4 bg-white rounded-lg border-l-8 border-teal-600 shadow hover:bg-gray-50"
          >
            <div>
              <span
                class="block mb-1 text-xs font-medium text-gray-500 uppercase"
                >Zutaten und Veranstaltungen und vieles mehr</span
              >
              <span
                class="text-xl font-semibold text-teal-600"
                >Schaue in die Daten</span
              >
            </div>
            <svg
              class="w-6 h-6 text-teal-600"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
