{% extends "_base.html" %}
{% load main_extras %}
{% load static %}
{% block header %}
{% endblock header %}
{% block content %}
<main class="">
  <section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        <h2
          class="mb-4 text-xl lg:text-4xl tracking-tight font-extrabold text-gray-900"
        >
          Veranstaltung
        </h2>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
