<div class="col-span-4 rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:col-span-4">
    <div class="grid gap-4 rounded-lg bg-white dark:border-gray-700 dark:bg-gray-800 sm:grid-cols-2 md:p-6 xl:grid-cols-4">
        <div class="flex space-x-4">
            <img class="h-16 w-16 rounded-lg"
                 src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/helene-engels.png"
                 alt="Helene avatar" />
            <div>
                <span class="mb-2 inline-block rounded bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300">PRO Account</span>
                <h2 class="flex items-center text-xl font-bold leading-none text-gray-900 dark:text-white sm:text-2xl">
                    Helene Engels
                </h2>
            </div>
        </div>
        <dl>
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Email Adress</dt>
            <dd class="text-gray-500 dark:text-gray-400">
                helene@company.com
            </dd>
            <dd>
                <button type="button"
                        data-modal-target="emailInformationModal"
                        data-modal-toggle="emailInformationModal"
                        class="font-semibold text-blue-700 hover:underline hover:underline dark:text-blue-500">
                    Edit
                </button>
            </dd>
        </dl>
        <dl>
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Delivery Adress</dt>
            <dd class="text-gray-500 dark:text-gray-400">
                92 Miles Drive, California, USA
            </dd>
            <dd>
                <button type="button"
                        data-modal-target="myAddressModal2"
                        data-modal-toggle="myAddressModal2"
                        class="font-semibold text-blue-700 hover:underline dark:text-blue-500">Edit</button>
            </dd>
        </dl>
        <dl>
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Phone Number</dt>
            <dd class="text-gray-500 dark:text-gray-400">
                +1234 567 890 / +12 345 678
            </dd>
            <dd>
                <button type="button"
                        data-modal-target="phoneInformationModal"
                        data-modal-toggle="phoneInformationModal"
                        class="font-semibold text-blue-700 hover:underline dark:text-blue-500">Edit</button>
            </dd>
        </dl>
    </div>
</div>
