<!-- templates/_base.html -->

{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon/favicon.ico' %}">
    <link rel="icon" href="{% static 'images/favicon/favicon.ico" type="image/x-icon' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico" type="image/x-icon' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}">
    <meta name="description" content="In unseren über 200 Ideen ist für jeden eine passende Gruppenstunden oder Heimabendend dabei. Durch unsere Filter, Themenauswahl und Suchen findest du schnell was du suchst.">
    <meta name="keywords" content="Pfadfinder,Pfadfinderin, Pfadfinderinnen, scout, Heimabend, Heimabende, Gruppenstundenidee, Gruppenstunde, Gruppenstunden, Idee, Inspiration, basteln, spielen, handwerken, Wölflinge, Pfadfinder, Rover, Jungpfadfinder, Meute, Meuten, Sippe, Sippen, Roverrunden, Nachhaltigkeit, nachhaltig, DPV, Mosaik, Deutscher Pfadfinder Bund Mosaik, DPBM, Deutscher Pfadfinder Verband, Hilfe, Quatalsprogramm, Heimabendideen, Inspiration, Sammlung, Pfadfinder, Digitalheimabende, Übersicht, Austausch, Vernetzung, Erfahrungswerte, Probe, Proben, Probenarbeit, Postelauf, Postenläufe, Postenlauf">
    <meta name="author" content="Heimabend Inspirator">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">
    <meta name="yandex" content="index, follow">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="format-detection" content="telephone=no">
    <link rel="canonical" href="https://gruppenstunde.de">
    <meta property="og:url" content="https://gruppenstunde.de">
    <meta property="og:locale" content="de_DE">

    <title>Heimabend Inspirator</title>
    <meta property="og:site_name" content="Heimabend Inspirator">
    <meta property="og:title" content="Heimabend Inspirator mit über 200 Ideen für jede Altersstufe"> 
    <meta property="og:description" content="Gruppenstunde Ideen und Wissensbeiträge für Pfadfinderinnen und Pfadfinder mit vielen Filtern und Suchkriterien">
    <meta property="og:image" content="{% static 'images/favicon/favicon.ico' %}">
    <meta property="og:type" content="blog">

    {% tailwind_css %}

    <script src="{% static 'js/jquery3.7.1.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
  </head>

  <body>
    <div class="flex flex-col min-h-screen">
      <header class="bg-blue-500 border-gray-200">
        {% include "main_header.html" %}
      </header>

      <main class="flex-auto">
        {% include "messages.html" with messages=messages %}
        {% block content %}
        {% endblock content %}
      </main>

      <footer class="">
        {% include "footer.html" %}
      <footer/>
    </div>
    <script src="{% static 'js/flowbite.min.js' %}"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
  </script>
  </body>
</html>
