<!-- templates/_base.html -->

{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon/favicon.ico' %}" >
    <title>Heimabend Inspirator</title>

    {% tailwind_css %}


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.5.0"
      integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI"
      crossorigin="anonymous">
    </script>
  </head>

  <body>
    <div class="flex flex-col min-h-screen">
      <header class="bg-blue-500 border-gray-200">
        {% include "main_header.html" %}
      </header>

      <main class="flex-auto">
        {% include "messages.html" with messages=messages %}
        {% block content %}
        {% endblock content %}
      </main>

      <footer class="">
        {% include "footer.html" %}
      <footer/>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script type="text/javascript" src="{% static 'javascript/main.js' %}"></script> 
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <script src="{% static 'toasts.js' %}"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
  </script>
  </body>
</html>
