<!-- templates/index.html -->
{% extends '_base.html' %}
{% load static %}
{% block header %}{% endblock %}
{% block content %}
    <main>
        <!-- Start block -->
        <section class="bg-white">
            <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">
                    Alle Apps
                </h1>
                <p class="mb-2 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">
                    Hier findest du alle Apps, die dir bei der Vorbereitung deiner Gruppenstunde helfen.
                </p>
                <section class="bg-white dark:bg-gray-900 antialiased">
                    <div class="max-w-screen-xl px-4 py-2 mx-auto lg:px-6 sm:py-16 lg:py-24">
                        <div class="grid grid-cols-1 mt-12 text-center sm:mt-16 gap-x-20 gap-y-12 sm:grid-cols-2 lg:grid-cols-3">
                            {% for app in header_app %}
                                {% include './main_header/app_card.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
{% endblock %}
