{% extends '_base.html' %}
{% load main_extras %}
{% load crispy_forms_tags %}
{% block header %}
{% endblock header %}
{% block content %}
    <main class="max-w-3xl mx-auto px-4 py-8">
        <article class="grid grid-cols-1 mx-auto max-w-xl">
            <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl">
                Treffe Entscheidungen über die Eckpunkte deines Lagers
            </h1>
            <div class="mx-auto flex flex-col items-center justify-center max-w-lg">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit"
                            class="mt-0 px-4 pb-1 text-white bg-blue-500 rounded-lg hover:bg-blue-600">
                        <span class="text-sm font-semibold">Erstellen</span>
                    </button>
                </form>
            </div>
        </article>
    </main>
{% endblock content %}
