<div class="w-full max-w-sm p-4 bg-white">
    <a href="{% url 'recipe-detail-overview' recipe.slug %}">
        <h5 class="text-xl font-medium text-blue-700">{{ recipe.name }}</h5>
    </a>
    <div class="flex items-baseline text-gray-900 dark:text-white mb-4">
        <span class="text-sm">{{ recipe.get_recipe_type_display }}</span>
    </div>
    <div class="flex items-baseline text-gray-900 dark:text-white">
        <span class="text-md font-semibold">{{ recipe.meta_info.price_eur|floatformat:2 }}</span>
        <span class="pl-2 text-md font-semibold">€</span>
    </div>
    <div class="flex items-baseline text-gray-900 dark:text-white">
        <span class="text-md font-semibold">{{ recipe.meta_info.weight_display }}</span>
        <span class="pl-2 text-md font-semibold"></span>
    </div>
    <ul role="list" class="space-y-5 my-3">
        {% for recipe_item in recipe.recipe_items.all %}
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">{{ recipe_item.portion.ingredient.name }}
            </span>
        {% endfor %}
    </ul>
</div>
