{% extends "_base.html" %}
{% load main_extras %}
{% load crispy_forms_tags %}
{% block header %}

{% endblock header %}
{% block content %}
  <section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-16">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
      <div class="mb-4 flex items-center justify-between gap-4 md:mb-8">
        <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Wähle wie du deine Zutaten anlegen möchtest</h2>
      </div>

      <div class="grid grid-cols-1 gap-4 sm:mt-8 sm:grid-cols-2 xl:gap-8">
      {% for box in boxes %}
        {% include "./box.html" with box=box %}
      {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}
