{% load main_extras %}
<div class="col-span-2 rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:col-span-4">
    <h2 class="mb-4 text-lg font-semibold text-gray-900 dark:text-white md:mb-6">Nutri Score</h2>
    <ul class="mt-5 space-y-4">
        <li class="flex justify-between border-b border-gray-200 pb-2">
            <span>Nutri Punkte (Ballaststoffe g)</span>
            <span class="text-green-500">{{ meta_info.nutri_points_fibre_g|abs_value }}</span>
        </li>
        <li class="flex justify-between border-b border-gray-200 pb-2">
            <span>Nutri Punkte (Protein g)</span>
            <span class="text-green-500">{{ meta_info.nutri_points_protein_g|abs_value }}</span>
        </li>
        <li class="flex justify-between border-b border-gray-200 pb-2">
            <span>Nutri Punkte (Energie kJ)</span>
            <span class="text-red-500">{{ meta_info.nutri_points_energy_kj }}</span>
        </li>
        <li class="flex justify-between border-b border-gray-200 pb-2">
            <span>Nutri Punkte (Gesättigte Fettsäuren g)</span>
            <span class="text-red-500">{{ meta_info.nutri_points_fat_sat_g }}</span>
        </li>
        <li class="flex justify-between border-b border-gray-200 pb-2">
            <span>Nutri Punkte (Zucker g)</span>
            <span class="text-red-500">{{ meta_info.nutri_points_sugar_g }}</span>
        </li>
        <li class="flex justify-between border-b border-gray-200 pb-2">
            <span>Nutri Punkte (Natrium mg)</span>
            <span class="text-red-500">{{ meta_info.nutri_points_sodium_mg }}</span>
        </li>
        <li class="flex justify-between border-b border-gray-200 pb-2">
            <span>Nutri Punkte (Obst/Gemüse Faktor)</span>
            <span class="text-green-500">{{ meta_info.nutri_points_fruit_factor|abs_value }}</span>
        </li>
        <li class="flex justify-between border-b border-gray-200 pb-2">
            <span><strong>Nutri Punkte Summe</strong></span>
            <span class="{% if meta_info.nutri_points < 0 %} text-green-500 {% else %} text-red-500 {% endif %}">
                <strong>{{ meta_info.nutri_score_display }} ({{ meta_info.nutri_points }} Punkte)</strong>
            </span>
        </li>
    </ul>
</div>
